version: "3.9"

services:
  mongo:
    image: mongo:4.4
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"

  backend:
    image: ayubazmi/mean-dd_backend:25
    container_name: backend
    restart: always
    ports:
      - "8080"
    depends_on:
      - mongo

  frontend:
    image: ayubazmi/mean-dd_frontend:25
    container_name: frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
